<tr>
  <td><%= "#{ticket.first_station.title} - #{ticket.last_station.title}" %></td>
  <td><%= link_to t('common.show_ticket'), ticket %></td>
  <td><%= link_to t('common.refund_ticket'), ticket, method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>