<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading text-center">
      <h1><%= t('.title') %></h1>
    </div>

    <% if current_user.tickets.empty? %>
        Вы не купили ни одного билета
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Билет</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render @tickets %>
        </tbody>
      
      </table>
    <% end %>
  </div>
</div>

<br>

<%= link_to t('.buy_new_ticket'), search_path %>