<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th>Билет</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to t('common.main_menu'), admin_welcome_index_path %>
<%= link_to t('.add_ticket'), new_admin_ticket_path %>