<p id="notice"><%= notice %></p>

<h1>Список вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Тип вагона</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'wagon', wagons: @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить вагон', new_wagon_path %>