<tr>
  <td><%= "#{wagon.type} - #{wagon.number}" %></td>
  <td><%= link_to t('common.show'), [:admin, wagon] %></td>
  <td><%= link_to t('common.edit'), edit_admin_wagon_path(wagon) %></td>
  <td><%= link_to t('common.delete'), [:admin, wagon], method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>