<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Тип вагона</th>
    </tr>
  </thead>

  <tbody>
    <%= render 'wagon', wagons: @wagons %>
  </tbody>
</table>

<br>

<%= link_to t('.add_wagon'), new_admin_wagon_path %>